{% extends "basic.html" %}
{% block title %}Home{% endblock %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to SuperEmitra</h1>
    <p>Stay informed about the latest government schemes and how they can benefit you! Our blog covers everything from financial assistance to education and employment opportunities. Find the scheme that's right for you and learn how to apply.</p>
    <hr class="my-4">
    <p>Here are some of our most popular posts:</p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </div>
</div>
<div class="container">
  <h1>Popular blogpost:</h1>
  

{% endblock %} 
