{% extends "basic.html" %}
{% block title %}Formfill{% endblock %}
{% block formfillactive %}active{% endblock formfillactive %}
{% block body %}
<div class="container">
  {% for form in allform %}
  <div class="row no-gutters border rounded overflow-hidden my-3 flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Form fill by SuperEmitra </strong>
      <h3 class="mb-0">{{form.form_name}}</h3>
      <div class="mb-1 text-muted">{{form.timeStamp}}</div>
      <p class="card-text mb-auto">{{form.form_details|safe|truncatechars:50}}</p>
      <div class="my-2">
        <a href="/formfill/{{form.slug}}" role="button" class="btn btn-success">Documents required</a>
      </div>
    </div>
    <div class="col-auto d-none d-lg-block">


    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}